<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Team Builder</title>
</head>

<body data-ng-app="teamApp">
  <section data-ng-controller="TeamsController as teamsctrl" data-ng-init="teamsctrl.getAll()">
    <form data-ng-submit="teamsctrl.createTeam()">
      <label for="name">Team Name</label>
      <input type="text" name="name" data-ng-model="teamsctrl.newTeam.name" placeholder="Seahawks">

      <label for="city">City</label>
      <input type="text" name="city" data-ng-model="teamsctrl.newTeam.city" placeholder="Seattle">

      <label for="mascot">Mascot</label>
      <input type="text" name="mascot" data-ng-model="teamsctrl.newTeam.mascot" placeholder="Big Bird">

      <button type="submit">Create New Team</button>
    </form>

    <ul id="teamList">
      <li data-ng-repeat="team in teamsctrl.teams">
        <div data-ng-if="!team.editing">The {{team.name}} are in {{team.city}} and their mascot is a {{team.mascot}}</div>
        <form data-ng-if="team.editing" data-ng-submit="teamsctrl.updateTeam(team)">
          <label for="name">Team Name</label>
          <input type="text" name="name" data-ng-model="team.name">

          <label for="city">City</label>
          <input type="text" name="city" data-ng-model="team.city">

          <label for="mascot">Mascot</label>
          <input type="text" name="mascot" data-ng-model="team.mascot">

          <button type="submit">Update Team</button>
          <button data-ng-click="team.editing = false">Cancel</button>
        </form>
        <button data-ng-if="!team.editing" data-ng-click="team.editing = true">Edit</button>
        <button data-ng-click="teamsctrl.removeTeam(team)">Delete This Team</button>
      </li>
    </ul>
  </section>

  <section data-ng-controller="PlayersController as playersctrl" data-ng-init="playersctrl.getAll()">
    <form data-ng-submit="playersctrl.createPlayer()">
      <label for="name">Player Name</label>
      <input type="text" name="name" data-ng-model="playersctrl.newPlayer.name" placeholder="Bronko Nagurski">

      <label for="position">Position</label>
      <input type="text" name="position" data-ng-model="playersctrl.newPlayer.position" placeholder="Fullback">

      <label for="team">Team</label>
      <input type="text" name="team" data-ng-model="playersctrl.newPlayer.team" placeholder="Big Birds">

      <button type="submit">Create New Player</button>
    </form>

    <ul id="playerList">
      <li data-ng-repeat="player in playersctrl.players">
        <div data-ng-if="!player.editing">{{player.name}} plays {{player.position}} for the {{player.team}}</div>
        <form data-ng-if="player.editing" data-ng-submit="playersctrl.updatePlayer(player)">
          <label for="name">Player Name</label>
          <input type="text" name="name" data-ng-model="player.name">

          <label for="city">Position</label>
          <input type="text" name="position" data-ng-model="player.position">

          <label for="mascot">Team</label>
          <input type="text" name="team" data-ng-model="player.team">

          <button type="submit">Update Player</button>
          <button data-ng-click="player.editing = false">Cancel</button>
        </form>
        <button data-ng-if="!player.editing" data-ng-click="player.editing = true">Edit</button>
        <button data-ng-click="playersctrl.removePlayer(player)">Cut This Player</button>
      </li>
    </ul>
  </section>

  <script src="./bundle.js"></script>
  </body>
</html>
